@model IEnumerable<BehrendTutors.Models.Admin>

@{
    ViewData["Title"] = "Index";
}
@{
    IEnumerable<Tutor> tutors = ViewData["Tutors"] as IEnumerable<Tutor>;
    IEnumerable<Class> classes = ViewData["Classes"] as IEnumerable<Class>;
}

<h1>Admin Home Page</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a asp-controller="Admins" asp-action="Create">Create New Admin</a>
        </div>
        <div class="col">
            <a asp-controller="Tutor" asp-action="Create">Create New Tutor</a>
        </div>
        <div class="col">
            <a asp-controller="Classes" asp-action="Create">Create New Class</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Admin Name
                        </th>
                        <th>
                            Admin Email
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tutor Name
                        </th>
                        <th>
                            Tutor Email
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tutor tutor in tutors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => @tutor.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @tutor.Email)
                            </td>
                            <td>
                                <a asp-controller="Tutor" asp-action="Edit" asp-route-id="@tutor.Id">Edit</a> |
                                <a asp-controller="Tutor" asp-action="Details" asp-route-id="@tutor.Id">Details</a> |
                                <a asp-controller="Tutor" asp-action="Delete" asp-route-id="@tutor.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <ul class="list-group">
                    @foreach (Class c in classes)
                    { //@Html.DisplayFor(modelItem => item.ClassTitle)
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xl-10 justify-content-xl-start">
                                    @Html.DisplayFor(modelItem => c.Subject)-@Html.DisplayFor(modelItem => c.CourseNum)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl justify-content-xl-start">
                                    @Html.DisplayFor(modelItem => c.ClassNum)
                                </div>
                                <div class="col-xl justify-content-xl-end">
                                    @Html.DisplayFor(modelItem => c.ClassTitle)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a asp-controller="Classes" asp-action="Edit" asp-route-id="@c.id">Edit</a> |
                                    <a asp-controller="Classes" asp-action="Details" asp-route-id="@c.id">Details</a> |
                                    <a asp-controller="Classes" asp-action="Delete" asp-route-id="@c.id">Delete</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
